html, body{position: relative; width: 100%; margin: 0; padding: 0; color: #333;}
body p{margin: 0; padding: 0;}
body a{color: inherit; font-size: inherit; cursor: pointer;}
body a, body image, body a:active, body image:active, body button:active{border: none;}

body .hd-position-relative{position: relative;}
body .hd-position-fixed{position: fixed;}
body .hd-left-top-0{top: 0;}
body .hd-display-none{display: none;}
body .hd-display-block{display: block;}
body .hd-display-inline-block{display: inline-block;}
body .hd-width-full{width: 100%;}
body .hd-width-100{ width: 100px;}
body .hd-width-150{ width: 150px;}
body .hd-width-min-100{ min-width: 100px;}
body .hd-width-max-150{ max-width: 150px;}
body .hd-height-15{height: 15px;}
body .hd-font-weight-normal{font-weight: normal;}
body .hd-font-weight-bold{font-weight: bold;}
body .hd-font-size-18{font-size: 18px;}
body .hd-font-size-24{font-size: 24px;}
body .hd-color-333{color: #333;}
body .hd-color-888{color: #888;}
body .hd-color-price{color: #bb7047;}
body .hd-padding-left-15{padding-left: 15px;}
body .hd-margin-top-10{margin-top: 10px;}
body .hd-margin-top-15{margin-top: 15px;}
body .hd-margin-top-30{margin-top: 30px;}
body .hd-margin-top-60{margin-top: 60px;}
body .hd-margin-top-130{margin-top: 130px;}
body .hd-margin-bottom-30{margin-bottom: 30px;}
body .hd-margin-top-bottom-15{margin-top: 15px; margin-bottom: 15px;}
body .hd-margin-top-bottom-30{margin-top: 30px; margin-bottom: 30px;}
body .hd-margin-top-bottom-60{margin-top: 60px; margin-bottom: 60px;}
body .hd-margin-left-15{margin-left: 15px;}
body .hd-margin-right-15{margin-right: 15px;}
body .hd-margin-left-right-auto{margin-right: auto; margin-left: auto;}
body .hd-border-none{border: none;}
body .hd-border-radius-4{border-radius: 4px;}
body .hd-cursor-pointer{cursor: pointer;}

#hd-header.shopping{border-bottom: 5px solid #bb7047;}
#hd-header img.logo{width: 160px; height: 80px;}
#hd-header .hd-shopping-nav{margin-top: 45px; text-align: right;}
#hd-header .hd-shopping-nav img{max-width: 100%;}
#hd-header .input-group{position: relative; top: 30px;}
#hd-header .input-group .hd-search{height: 40px;}
#hd-nav-icon a{position: relative; display: inline-block; width: 50px; height: 50px; margin: 20px 10px; border-radius: 25px; border: 1px solid #333;}
#hd-nav-icon a span{position: absolute; top: -5px; right: -5px; display: block; min-width: 20px; text-align: center; font-size: 12px; background: #1ea1ea;}
#hd-nav-icon a.cs{background: url("/static/index/default/nav-cs.png") no-repeat center;}
#hd-nav-icon a.order-tracking{background: url("/static/index/default/nav-order-tracking.png") no-repeat center;}
#hd-nav-icon a.cart{background: url("/static/index/default/nav-cart.png") no-repeat center;}
#hd-nav-icon a.cart2{background: url("/static/index/default/nav-cart2.png") no-repeat center; border: 1px solid #1ea1ea;}
#hd-nav-icon a.login{background: url("/static/index/default/nav-login.png") no-repeat center;}
#hd-nav-icon a.logined{background: url("/static/index/default/nav-logined.png") no-repeat center; border: 1px solid #1ea1ea;}
#hd-header-navbar{width: 100%; height: 50px; background: #636569;}
#hd-header-navbar a{font-size: 18px; color: #fff;}
#hd-header-navbar .open a, #hd-header-navbar a:hover{color: inherit;}

#hd-flag-guarantee>div>div:hover{background: #eee; color: #1ea1ea;}
.hd-best-price>p, .hd-free-shipping>p, .hd-quality-guarantee>p, .hd-money-back>p{height: 70px; line-height: 70px; padding: 0 15px; font-size: 16px; float: left; cursor: default;}
.hd-best-price>p:first-child{width: 70px; background: url("/static/index/default/item01.png") no-repeat center;}
.hd-best-price:hover>p:first-child{background: url("/static/index/default/itemH01.png") no-repeat center;}
.hd-free-shipping>p:first-child{width: 70px; background: url("/static/index/default/item02.png") no-repeat center;}
.hd-free-shipping:hover>p:first-child{background: url("/static/index/default/itemH02.png") no-repeat center;}
.hd-quality-guarantee>p:first-child{width: 70px; background: url("/static/index/default/item03.png") no-repeat center;}
.hd-quality-guarantee:hover>p:first-child{background: url("/static/index/default/itemH03.png") no-repeat center;}
.hd-money-back>p:first-child{width: 70px; background: url("/static/index/default/item05.png") no-repeat center;}
.hd-money-back:hover>p:first-child{background: url("/static/index/default/itemH05.png") no-repeat center;}

#hd-crumb .breadcrumb{border: none !important; background: none !important; padding: 0; font-size: 16px;}
#hd-form-login input, #hd-form-register input{width: 100%; height: 40px;}
#hd-form-login input[type=submit], #hd-form-register input[type=submit]{font-size: 20px;}
#hd-form-login a{display: inline-block; height: 40px; line-height: 40px; color: #1ea1ea; text-decoration: none;}

.hd-prod-box img{border: 1px solid #ddd;}
.hd-prod-box .title{display: block; height: 40px; overflow: hidden;}
.hd-prod-box .price{font-size: 24px; color: #bb7047; margin-top: 10px;}
.hd-prod-box .origin{color: #888; text-decoration: line-through;}
.hd-prod-box .off{position: relative; top: -10px; font-size: 18px; color: #fff; background: #eb631b; border: 1px solid #eb631b; border-radius: 10px; padding: 2px 10px;}

.pager{width: 300px; margin: 0 auto;}
.pager a, .pager a:active{border: 1px solid #ddd !important; color: #337ab7 !important;}

#hd-main-image-loop{border: 1px solid #ccc;}
#hd-main-image-loop img{width: 100%;}
#hd-prod-info h1{margin: 0 !important; font-size: 20px;}

#hd-prod-info .price{font-size: 30px;}
#hd-sku-img-select img{display: inline-block; width: 60px; margin-left: 15px; margin-bottom: 10px; border: 2px solid #ddd; cursor: pointer;}
#hd-sku-img-select img.active, #hd-sku-img-select img:hover{border: 3px solid #eb631b;}
#hd-add-to-cart{width: 100%;}
#hd-prod-desc img{display: block; max-width: 100%; margin: 0 auto;}

#hd-cart-products.table td{vertical-align: middle;}
#hd-cart-products .product > div{float: left; margin-right: 15px;}
#hd-cart-products .product img{display: block; width: 80px; height: 80px; margin: auto 0;}
#hd-cart-products .product p{max-width: 300px; max-height: 40px; line-height: 20px; overflow: hidden; margin-top: 10px;}

#hd-checkout img{height: 46px; border-radius: 6px; cursor: pointer;}

#hd-address-list .hd-address{position: relative; padding: 15px; margin-top: 60px; border: 1px solid #ccc; border-radius: 4px;}
.hd-address .hd-address-opt{position: absolute; top: -30px; left: 0; width: 100%;}
.hd-address .hd-set-default{cursor: pointer; font-weight: normal;}

.hd-order-one .panel-body a img{display: block; width: 60px; height: 60px; margin: auto 0;}
.hd-order-one .panel-body .hd-prod-title{height: 60px; overflow: hidden;}
.hd-order-one .panel-body .hd-v-center{height: 60px; line-height: 60px;}

#hd-order-sh .panel-heading{padding: 15px; font-weight: bold; font-size: 16px;}

#hd-order-info .panel-heading{padding: 15px; font-weight: bold; font-size: 16px;}
#hd-order-info .panel-body{padding-bottom: 0; padding-top: 0;}
#hd-order-info .panel-body > .row > div{padding: 10px; border-bottom: 1px dashed #ccc; border-right: 1px dashed #ccc;}
#hd-order-info .panel-body > .row > div:last-child{border-right: none;}
#hd-order-info .panel-body > .row:last-child > div{border-bottom: none;}
#hd-order-info .panel-body > .row > div:nth-child(odd){background: #efefef; text-align: center; font-weight: bold; color: #666;}

#hd-shipping-list>div{padding:5px 0;}
#hd-payment-list>div{background: #efefef; border: 1px dashed #ddd; padding:15px;}

#hd-footer{width: 100%; padding: 20px 0; background: #0f0f0f;}
#hd-footer.fixed{position: fixed; bottom: 0; left: 0;}
#hd-footer .copyright {color: #ccc;}
#hd-back-top{position: fixed; right: 15px; bottom: 15px; z-index: 1000; width: 50px; height: 50px; line-height: 50px; border-radius: 25px;}
#hd-back-top i{font-size: 20px; top: 0;}
